.wave-bottom-with-dots-0 {
	fill: #377DFF;
}

.wave-bottom-with-dots-1 {
	fill: #377DFF;
}

.wave-bottom-with-dots-2 {
	fill: #DE4437;
}

.wave-bottom-with-dots-3 {
	fill: #00C9A7;
}

.wave-bottom-with-dots-4 {
	fill: #FFC107;
}